log.pickupdir=/Users/briannuszkowski/apachelogs

# The regex is based upon the generic Apache HTTP Log Format:
# "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""

# Minimum required are TIMESTAMP, METHOD, REQUEST
log.convert.regex=(?<remotehost>[^ ].*) ([^ ].*) ([^ ]*) (?<TIMESTAMP>\\[.*\\]) \"(?<METHOD>[^ ]*) (?<REQUEST>[^ ]*) (?<httpversion>[^ ]*)" (?<status>[^ ]*) (?<bytes>[^ ]*) (?<referer>\".*\") (?<useragent>\".*\")

# This is not yet supported, but we'd like to achieve this!
# Possibly, regex is more flexible?
#log.convert=true
# Conversion types: apache, nginx
#log.convert.type=apache
#log.convert.describe="%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""

#replay.starttime=
#replay.loop=True
#replay.loopcount=2